doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        title=`Product-${product.title}`
    body 
        main.product-container
            h1.product-title=product.title
            p.product-description=product.description
            div.product-price-container
                sup.product-price=product.price